<div class=" table-grid">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Number of Contacts</th>
        <th scope="col">Sub Total Owed</th>
        <th scope="col">Interest Amount</th>
        <th scope="col">Total Owed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{myData.numOfContacts}}</td>
        <td>{{myData.subTotal}}</td>
        <td>{{myData.interest}}</td>
        <td>{{myData.total}}</td>
      </tr>
    </tbody>
  </table>
</div>
